:root { /*basic colors*/
  --COLOR_YELLOW: #F7BC30;
  --COLOR_RED: #FA4D4D;
  --COLOR_GREEN: #08A508;
  --COLOR_ORANGE: #FB5607;
  --COLOR_BLUE: #3A86FF;
  --COLOR_PINK: #FF006E;
  --COLOR_PURPLE: #8338EC;
  --BW_WHITE: #FFFFFF;
  --BW_HEADLINE_BLK: #212529;
  --BW_BLACKISH: #212529;
}